body,p{
    padding: 0;
    margin:0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding:2em;
}

a{
    color: black;
    text-decoration: none;
}

    a:hover{
        text-decoration: underline;

    }
    
nav img{
    height: 20px;
}

main{
    width: 50%;
    margin: 6em auto;
    text-align: center;
    
}


input{
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border:1px solid gray;
    
    
}

.btns_container{
    margin-top: 1em;
    border-radius: 70%;
    justify-content: space-between;
}

.btns_container button{
    padding: 1em;
    border:none;
    border-radius: 4px;
    letter-spacing: normal;
}

image{
    width: 10%;
    
}

.para{
    padding: 1em;
    justify-content: space-around;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: normal;
}

.para a:hover{
    text-decoration: underline;
}

footer{
    background-color: #f2f2f2;
}

.footer-top{
    padding: 1em;
}

.footer-bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid#c2bdbd;
    
    
}



.left a{
    margin-right: 1em;
}

.right a{
    margin-right: 1em;
}
